<h2> Here will be all the information about Post. Name of author, time of addition,
  content, and possibility of adding comment</h2>

<p><b><%=@postinfo.personname %></b></p>
<h4><%=@postinfo.content %></h4>
<h5><%=@postinfo.created_at %></h5>
