<h2> Here you can leave your comment: </h2>

<label>Ваше имя: </label>
<input name="personname" type="text" class="form-control" placeholder="Введите Ваше имя" value="" >

<label>Ваш комментарий: </label>
<textarea name ="content" class="form-control" rows="3" placeholder="Введите Ваш комментарий" value=""></textarea>